body {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
}
.img-Eric {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 3px gray;
    background-color: #000000;
}
.Card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e5e5e5;
    color: #000000;
    border-bottom: 6px solid #14213d;
    border-radius: 30px;

    background-color: #e5e5e5;
    animation-name: example;
    animation-duration: 4s;


}
@keyframes example {
    from {background-color: #000000;}
    to {background-color: #e5e5e5;}
}

    